.header {
  background-color: var(--white);
  padding: 24px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    display: grid;
    place-items: center;
    width: 28px;
    aspect-ratio: 1;
    border: none;
    padding: 0;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 101;
  width: 100dvw;
  height: 100dvh;
  background-color: #29273EB2;
  transition: translate 300ms ease-in-out;

  .nav {
    background-color: var(--white);
    padding: 24px 24px 24px 10px;
    max-width: 314px;
    height: 100%;

    .logo {
      display: flex;
      align-items: end;
      gap: 8px;

      svg {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
      }

      .portalLogo {
        display: flex;
        gap: 8px;
        align-items: end;
      }

      .portalName {
        display: flex;
        flex-direction: column;

        .botName {
          font-family: 'Manrope', sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #1D1C29;
        }

        .botDescription {
          font-family: 'Manrope', sans-serif;
          font-size: 11px;
          font-weight: 500;
          color: #1B4DCB;
          line-height: 100%;
        }
      }

      button {
        flex: 0 0 36px;
        margin-left: auto;
        background-color: var(--black-400);
        border-radius: 8px;
        display: grid;
        place-items: center;
        width: 36px;
        height: 36px;
        border: none;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .chatList {
      margin-top: 48px;

      .addDialogBtn {
        margin-bottom: 48px;
        width: 100%;
        color: var(--black-25);
        font-size: 16px;
        line-height: 147%;
        font-weight: 500;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &[aria-expanded='true'] {
    translate: 100% 0;
  }
}

.sideBar {
  @media (min-width: 768px) {
    .header {
      display: none;
    }

    .wrapper {
      position: static;
      width: 238px;
      height: 100%;
      background-color: transparent;
      translate: unset;

      .nav {
        .logo {
          button {
            display: none;
          }
        }
      }
    }
  }
}