.dialog {
  overflow-x: hidden;
  position: relative;
  padding: 12px;
  flex: 1;
  background-image: url('../../assets/images/chat-bg.jpeg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}