.tooltip {
  z-index: 1;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: var(--black-400);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: start;
  padding: 4px;

  @media(min-width: 768px) {
    left: 100%;
    bottom: 50%;
    right: unset;
    translate: 0 50%;
  }
}